<p-toast></p-toast>

<div class="card shadow-2 border-round-xl p-5" style="background-color: #eaf4ff;">
  <h2 style="color: #003366;">Gestión de Usuarios</h2>

  <button
    pButton
    type="button"
    label="Nuevo Usuario"
    icon="pi pi-plus"
    (click)="abrirNuevo()"
    class="mb-4 p-button-rounded p-button-outlined p-button-primary animate__animated animate__fadeInDown"
  ></button>
  <br>
  <p-table [value]="usuarios" dataKey="id" styleClass="p-datatable-striped p-datatable-hoverable-rows">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.correo }}</td>
        <td>
          <button
            pButton
            icon="pi pi-pencil"
            (click)="editarUsuario(usuario)"
            class="p-button-rounded p-button-info me-2"
          ></button>
          <button
            pButton
            icon="pi pi-trash"
            (click)="eliminarUsuario(usuario)"
            class="p-button-rounded p-button-danger"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="{{ editando ? 'Editar Usuario' : 'Nuevo Usuario' }}"
  [(visible)]="usuarioDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '600px' }"
  class="animate__animated animate__fadeIn"
>
  <div class="field">
    <label for="nombre" class="font-medium">Nombre:</label>
    <br>
    <input
      id="nombre"
      type="text"
      pInputText
      [(ngModel)]="usuario.nombre"
      required
      autofocus
      [style]="{ width: '100%' }"
    />
    <small *ngIf="submitted && !usuario.nombre" class="p-error">El nombre es obligatorio.</small>
  </div>

  <div class="field mt-3">
    <label for="correo" class="font-medium">Correo:</label>
    <br>
    <input
      id="correo"
      type="email"
      pInputText
      [(ngModel)]="usuario.correo"
      required
      [style]="{ width: '100%' }"
    />
    <small *ngIf="submitted && !usuario.correo" class="p-error">El correo es obligatorio.</small>
  </div>

  <div class="flex justify-content-end mt-4 gap-2">
    <button
      pButton
      label="Cancelar"
      icon="pi pi-times"
      (click)="ocultarDialogo()"
      class="p-button-text"
    ></button>
    <button
      pButton
      label="Guardar"
      icon="pi pi-check"
      (click)="guardarUsuario()"
      [disabled]="!usuario.nombre || !usuario.correo"
      class="p-button-primary"
    ></button>
  </div>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
